@font-face {
  font-family: 'DBHeavent-Cond';
  src: url(./assets/fonts/DB_Heavent_Cond_v3.2.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent';
  src: url(./assets/fonts/DB_Heavent_v3.2.ttf);
  font-weight: 400;
  font-style: normal;
}
